<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
		<servlet>
		<servlet-name>HookahKnights</servlet-name>
		<servlet-class>main.java.com.eos.HookahKnights.HookahKnightsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HookahKnights</servlet-name>
		<url-pattern>/hookahknights</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>hookah.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
        <servlet-name>backend_test</servlet-name>
        <servlet-class>main.java.com.eos.utils.TransportQueueManager</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>backend_test</servlet-name>
        <url-pattern>/_ah/start</url-pattern>
    </servlet-mapping>

</web-app>
